/*
 * Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: MIT-0
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this
 * software and associated documentation files (the "Software"), to deal in the Software
 * without restriction, including without limitation the rights to use, copy, modify,
 * merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
 * permit persons to whom the Software is furnished to do so.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
 * INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
 * PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 * HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 * OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
 * SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

# Generic variables
aws_region = "<region>"
enabled    = true

#Tags and Naming
application_code = "<application_code>"
application_name = "<application_name>"
environment_type = "<environment>"

#Networking
vpc_id                 = "<vpc_id>"
subnet_ids             = ["subnet_id_1", "subnet_id_2"]
dns_zone_name          = "<dns_zone_name>"
customer_default_sg_id = "<default_security_group_id>"

# Operation System
ami_id  = "<ami_id>"
ssh_key = "<key_pair_name>"

# Security
kms_key_arn           = "<kms_key_id>"
default_instance_role = true

# SAP parameters
sid               = "<sap_sid>"
high_availability = false


# HANA Database Parameters
hana_is_scale_out               = false
hana_instance_type              = "<instance_type>"
root_volume_size                = <defaulted_to_50>
hana_disks_data_storage_type    = "<gp2_or_io1>"
hana_disks_logs_storage_type    = "<gp2_or_io1>"
hana_disks_backup_storage_type  = "<st1>"
hana_disks_shared_storage_type  = "<gp2_or_io1>"
hana_disks_shared_size          = <defaulted_to_512>
hana_disks_usr_sap_storage_type = "<gp2_or_io1>"
hana_disks_usr_sap_storage_size = <defaulted_to_50>


# Netweaver Application Servers Parameters
ascs_instance_type          = "<instance_type>"
as_instance_type            = "<instance_type>"
as_instance_count           = 1
efs_sapmnt                  = true
ascs_root_volume_size       = <defaulted_to_50>
app_server_root_volume_size = <defaulted_to_50>